services: 
    postgresql:
        container_name: postgresql   #no le ponemos nombre si hay varias intancias
        image: postgres:16.2-bullseye

        networks:
            - mired  #el servicio se va  aejecutar en esta red, es el identificador de donde se va a optener la ip
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}     #HACER UN ARCHIVO .env
            - POSTGRES_DB=${POSTGRES_DB}  
            - PGDATA=/var/lib/postgresql/data/pgdata  #DODNE SE ALMACENA

        volumes: #vinvula el host con el contenedor 
            - ./data:/var/lib/postgresql/data

        labels:
            - "traefik.enable=true"
            - "traefik.tcp.routers.postgresql.rule=HostSNI(`*`)"
            - "traefik.tcp.routers.postgresql.entryPoints=postgresql"
            - "traefik.tcp.services.postgresql.loadbalancer.server.port=5432"
            
networks:
  mired:
    external: true